.image {
  display: block;
  width: 90%;
  height: 90%;
  padding: 0rem;
  margin: 0.2rem auto;
  padding: auto;
}

.none {
  display: none;
}

.layer {
  position: absolute;
  background: white;
  border: none;
  padding: 0.6rem 0.4rem 1rem;
  display: block;
  right: -2rem;
  top: -1rem;
  width: 250px;
  z-index: 999;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .layer {
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .layer {
    width: 450px;
  }
}
